.hero
  .hero-content
    img.hero-logo(src='assets/img/demo.jpg', alt='Logo Image')
    p
      | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni modi doloremque excepturi laudantium maxime explicabo cumque deleniti voluptate deserunt.
